<div class="container">
  <div class="jumbotron mt-5">
    <h1 class="display-2">Welcome to Taskey</h1>
    <p class="lead">Your ultimate task management solution seamlessly integrated with Google Calendar. With Taskey, you can effortlessly organize, track, and sync your tasks across all your devices. Experience the power of a unified system that keeps your schedule on point and productivity at its peak. Simplify your life and never miss a deadline again with Taskey! </p>
    <hr class="my-4">
    <p>Create your new tasks now by clicking on the button below .</p>
    <p class="lead">
      <%= link_to 'Create Your Task', new_task_path, class: "btn btn-primary btn-lg" %>
    </p>
  </div>
</div>