<div class="container">
  <div class="jumbotron mt-5">
    <h1 class="display-2">Welcome to Taskey</h1>
    <p class="lead">This is a simple app to manage your tasks with Google Calendar. You can create your tasks in a very simple way here and this app will sync your event with your google calendar. </p>
    <hr class="my-4">
    <p>Very simple to use and you can create as many as events you want.</p>
    <p class="lead">
      <%= link_to 'Create Your Task', new_task_path, class: "btn btn-primary btn-lg" %>
    </p>
  </div>
</div>